<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>USERS</h2>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Year</th>
        <th>Operations</th>
    </tr>
    <tr th:each="user : ${users}">

        <td th:text="${user.id}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.surName}"></td>
        <td th:text="${user.age}"></td>
    </tr>
</table>

<br>

<table>
    <th><input type="button" value="Add new User"
               onclick="window.location.href = 'addUser'"/>
    </th>
    <th><input type="button" value="Update User"
               onclick="window.location.href = 'updateUser'"/>
    </th>
    <th><input type="button" value="Delete User"
               onclick="window.location.href = 'deleteUser'"/>
    </th>
</table>
</body>
</html>